@font-face {
    font-family: AvenirLight;
    src: url(/fonts/AvenirLTStd-Light.otf);
}

@font-face {
    font-family: AvenirRoman;
    src: url(/fonts/AvenirLTStd-Light.otf);
}

@font-face {
    font-family: AvenirBook;
    src: url(/fonts/AvenirLTStd-Light.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(/fonts/Helvetica.dfont);
}

html {
    height:100%;
    width:100%;
    
}

body {
    height:100%;
    width:100%;
	background-color: #8aaa7f;
	margin: 0px auto;
}

.home {
    margin:0;
    padding:0;
    position:relative;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:cover;
    background-attachment:fixed;
    z-index:0;
}

.home a {
    transition:all linear 0.15s;
    text-decoration:none;
    color:#eee;
    z-index:1;
    
    background-color: #8aaa7f;
}

.home a:hover {
    -webkit-filter: blur(0px);
    -webkit-animation: fadein linear .3s;
}

#content {
    font-family: Helvetica, AvenirRoman, arial, futura;
    position:relative;
    z-index:1;
    margin-left: auto;
    margin-right:auto;
    height:105%;
    width:100%;
    padding:0em;
    background-color: transparent;
}

#pagetitle {
    font-family: Helvetica, AvenirRoman, arial, futura;
    position:relative;
    z-index:1;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    color: transparent;
    font-size:1.5em;
    font-weight:600;
    line-height:1em;
    padding-top:1em;
    padding-bottom:1em;
    left:0;
    background-color: transparent;
    color:white;
    text-align:center;
    text-shadow: 1px 1px 13px #000;
    
    
    height:5%;
    padding-top:1.3em;
    padding-bottom:1.3em;
}

/* text container */
.statement {
    font-family: Helvetica, AvenirRoman, arial, futura;
    z-index:1;
    position:relative;
    width:70%;
    margin-right:auto;
    margin-left:auto;
    outline: .2em solid #333333;
    background-color: #a5bf9b;
    top:1em;
    padding:1.5em;
}

p {
    font-size:1em;
    font-family: Helvetica, AvenirRoman, arial, futura;
    color: #1c1c1c;
    text-align: center;
    line-height:1.2em;
    font-weight: 300;
}

/* --------------------------------------- */
