@font-face {
    font-family: AvenirLight;
    src: url(/fonts/AvenirLTStd-Light.otf);
}

@font-face {
    font-family: AvenirRoman;
    src: url(/fonts/AvenirLTStd-Light.otf);
}

@font-face {
    font-family: AvenirBook;
    src: url(/fonts/AvenirLTStd-Light.otf);
}

@font-face {
    font-family: Helvetica;
    src: url(/fonts/Helvetica.dfont);
}

html {
    height:100%;
    width:100%;
    
}

body {
    height:100%;
    width:100%;
	background: #c5cec2;
	margin: 0px auto;
}

.home {
    
    margin:0;
    padding:0;
    position:relative;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:cover;
    background-attachment:fixed;
    z-index:0;
}

.home a {
    transition:all linear 0.15s;
    text-decoration:none;
    color:white;
    z-index:1;
}

.home a:hover {
    -webkit-filter: blur(0px);
    -webkit-animation: fadein linear .3s;
}

#enterheader {
    font-family: Helvetica, AvenirRoman, arial, futura;
    position:relative;
    z-index:1;
    margin-left: auto;
    margin-right:auto;
    height:40%;
    width:100%;
    padding:0em;
    background-color: transparent;
    
}

#pagetitle {
    font-family: Helvetica, AvenirRoman, arial, futura;
    position:relative;
    z-index:1;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    color: transparent;
    font-size:1.5em;
    line-height:1em;
    padding-top:1em;
    padding-bottom:1em;
    left:0;
    background-color: transparent;
    color:white;
    text-align:center;
    font-weight: 100;
}

/* text container */
.statement {
    font-family: Helvetica, AvenirRoman, arial, futura;
    z-index:1;
    position:relative;
    width:70%;
    top:3em;
    margin-right:auto;
    margin-left:auto;
}

p {
    font-size:1em;
    font-family: Helvetica, AvenirRoman, arial, futura;
    color: #fff;
    text-align: center;
    /*line-height: 1.1em;*/
    font-weight: 100;
}

/* MAP PARTS */

.LAMap {
    overflow:hidden;
    position: relative;
    height: 0;
    padding-bottom:90%;
}

.LAMap iframe {
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
}

.modal-container {
    position:fixed;
    background-color: #fff;
    border: 1px solid #000;
    left:50%
    padding:20px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

/* --------------------------------------- */

#head {
	height: 100%;
	width: 100%;
	background: #c5cec2;
	margin: 0px auto;
}

#about {
	height: 200px;
	width: 100%;
	background: url("../images/latinamericastock.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background: #888;*/
}

#container {
	height: 150px;
	width: 100%;
	background: #fff;
}

#minicontainer1 {
	height: 150px;
	width: 50%;
	background: #ccc;
	float: left;
}

#minicontainer2 {
	height: 150px;
	width: 50%;
	background: #fff;
	float: right;
}


#section1 {
	height: 150px;
	width: 50%;
	float: left;
	background: url("../images/latinamericaincomeinequality.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#section2 {
	height: 150px;
	width: 50%;
	float: right;
	background: url("../images/latinamericaincomeinequality.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#section3 {
	height: 150px;
	width: 50%;
	float: left;
	background: url("../images/latinamericaincomeinequality.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#section4 {
	height: 150px;
	width: 50%;
	float: right;
	background: url("../images/latinamericaincomeinequality.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#section5 {
	height: 150px;
	width: 50%;
	float: left;
	background: url("../images/latinamericaincomeinequality.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#section6 {
	height: 150px;
	width: 50%;
	float: right;
	background: url("../images/latinamericaincomeinequality.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#section7 {
	height: 150px;
	width: 50%;
	float: left;
	background: url("../images/latinamericaincomeinequality.png");
}

#section8 {
	height: 150px;
	width: 50%;
	float: right;
	background: url("../images/latinamericaincomeinequality.png");
}

#section9 {
	height: 150px;
	width: 50%;
	float: left;
	background: url("../images/latinamericaincomeinequality.png");

}

#header {
	font-size: 115px;
	font-family: AvenirRoman, arial, futura;
	color: #fff;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#text {
	font-size: 50px;
	font-family: AvenirRoman, arial, futura;
	color: #fff;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#smallerheader {
	font-size: 50px;
	font-family: AvenirRoman, arial, futura;
	color: #fff;
text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#smallertext {
	font-size: 30px;
	font-family: AvenirRoman, arial, futura;
	color: #fff;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#about:hover {
	opacity: .5;
}

#section1:hover {
	opacity: .9;
	height: 250px;
}

#section2:hover {
	opacity: .5;
	height: 250px;
}

#section3:hover {
	opacity: .5;
	height: 250px;
}

#section4:hover {
	opacity: .5;
	height: 250px;
}

#section5:hover {
	opacity: .5;
	height: 250px;
}

#section6:hover {
	opacity: .5;
	height: 250px;
}

#section7:hover {
	opacity: .5;
	height: 250px;
}

#section8:hover {
	opacity: .5;
	height: 250px;
}

#section9:hover {
	opacity: .5;
	height: 250px;
}